body {
  min-height: 100vh;
  background-image: url("./back.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.weather-container {
  width: 600px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1 px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 50px;
}

.searchThings {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchBar,
.searchButton,
.locationButton {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.searchButton,
.locationButton {
  padding: 5px 10px 5px;
  cursor: pointer;
}

.searchBar {
  width: 265px;
  padding: 5px;
  margin-right: 30px;
}

.searchButton {
  margin-right: 10px;
}

h1,
h3 {
  letter-spacing: 2px;
}

h1 {
  margin: 20px 0 5px;
}

h3 {
  margin: 5px 0 20px;
}

.weatherAllInformationt {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  margin: 10px auto 10px;
}

#temperatureToday {
  display: flex;
  justify-content: center;
}

#icon-pic {
  width: 100px;
}

#temperatureNumber {
  font-size: 80px;
}

#celsius,
#fahrenheit {
  text-decoration: none;
  color: #fff;
  font-weight: 900;
}

#celsius:hover,
#fahrenheit:hover {
  color: #4cc9f0;
  transition: all 200ms ease-in-out;
}

.weatherDesc ul {
  list-style-type: none;
  font-size: 17px;
  font-weight: 900;
  line-height: 150%;
  letter-spacing: 2px;
}

hr {
  border: 1px solid #fff;
}

.credit {
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 900;
  text-align: center;
}

.github {
  text-decoration: none;
  color: #4cc9f0;
}
